@import "tailwindcss";

.gallery {
    padding: 3em;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(130px, 100px));
    gap: 3em;
}

.gallery-header {
    display: flex;
    color: rgba(255, 20, 98, 0.374);
    justify-content: space-evenly;
    /* background-color: rgba(161, 134, 139, 0.131); */
    border-bottom: solid rgba(255, 20, 98, 0.374) 1.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 8pt;
    letter-spacing: 0.1em;
    padding: 3em;
}

.gallery img {
    width: 100%;
    height:12em;
    object-fit: fill;
    cursor: pointer;
    border-radius: 5px;
    
}


.photo-card {
    position: relative;

}


.stats{
    position: absolute;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 0.50rem;
    font-weight: 500;
    right: 9%;
    
    color: rgba(246, 73, 165, 0.306);
}

.img-heart {
    display: flex;
    flex-direction: column;
    gap: 1em;
    top: 50%;
    left: 50%;
    position: absolute;
    justify-items: center;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: ease 0.8s;

}

.zoom-btn {
    background: rgba(0,0,0,0.6);
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 13px;
    color: white;
    transition: ease 0.8s;
}

.zoom-btn:hover {
    transform: scale(1.1);
}


.photo-card:hover .img-heart {
    opacity: 1;
    /* pointer-events: auto; */
}


.downloads {
    bottom: 90%;
}

.name {
    top: 90%;
    left: 25%;

}

.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


.lightbox img {
    /* padding: 2em; */
    border: 40px solid rgb(31, 34, 35);
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
    border-radius: 8px;
}
