@import "tailwindcss";

.gallery {
    padding: 9em 3em;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(130px, 100px));
    gap: 3em;
    background-color: rgb(27, 10, 15);;
}

.gallery-header {
    background-color:rgb(32, 10, 17);
    z-index: 1;
    width: 100vw;
    position: fixed;
    display: flex;
    color: rgba(255, 20, 98, 0.374);
    justify-content: space-evenly;
    border-bottom: solid rgba(255, 20, 98, 0.374) 1.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 9pt;
    letter-spacing: 0.1em;
    padding: 2.5em;
    align-items: center;
}

.gallery img {
    width: 100%;
    height:12em;
    object-fit: fill;
    cursor: pointer;
    border-radius: 0.5em;
}

.gallery img:hover {
    border-width: 0.1em;
    border-color: rgba(240, 248, 255, 0.165);
}

.photo-card {
    position: relative;

}


.stats{
    position: absolute;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 0.50rem;
    font-weight: 500;
    right: 9%;
    
    color: rgba(246, 73, 165, 0.306);
}

.img-heart {
    display: flex;
    flex-direction: column;
    gap: 1em;
    top: 50%;
    left: 50%;
    position: absolute;
    justify-items: center;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: ease 0.2s;

}

.zoom-btn {
    background: rgba(0,0,0,0.6);
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 13px;
    color: white;
    transition: ease 0.8s;
}

.zoom-btn:hover {
    transform: scale(1.1);
}


.photo-card:hover .img-heart {
    opacity: 1;
    /* pointer-events: auto; */
}


.downloads {
    bottom: 90%;
}

.name {
    top: 90%;
    left: 25%;

}

.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(16, 2, 8, 0.764);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


.lightbox img {
    width: 60vw;
    border: 40px solid rgb(50, 28, 39);
    object-fit: contain;
    border-radius: 8px;
}

.searchbar-container {
    border-width: 0.04em;
    align-items: center;
}

.faves {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    font-size: 15pt;
    align-items: center;
}

.pixelheart {
    width: 24px;
    height: 24px;

}

input {
        font-size: 8pt;
        padding: 0.5em 0.5em 0.5em 2em;
}

.your-collection:hover {
    color: rgb(117, 117, 178);
}

.heart-icon {
    width: 1.3em;
    display: block;
}

.photo-card:hover .img-heart,
.heart-btn.hearted {
    opacity: 1;
}
