@import "tailwindcss";

.gallery {
    padding: 4em;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(130px, 100px));
    gap: 2em;
}

.gallery img {
    width: 100%;
    height:12em;
    object-fit: cover;
}


.photo-card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.photo-card:hover {
    border: solid 0.2px, white;
    border-radius: 5px;
}


.photo-card img {
    width: 100%;
    height: 12em;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.stats{
    position: absolute;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(212, 248, 240, 0.713);
    font-size: 0.50rem;
    font-weight: 500;
    text-align: left;
}

.name {
    top: 4%;
}

.downloads {
    bottom: 80%;
}

