@import "tailwindcss";

.gallery {
    padding: 4em;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(130px, 100px));
    gap: 2em;
}

.gallery-header {
    display: flex;
    color: rgb(148, 131, 128);
    justify-content: space-evenly;
    background-color: rgba(57, 27, 36, 0.373);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10pt;
    letter-spacing: 0.1em;
    padding: 2em;
}

.gallery img {
    width: 100%;
    height:12em;
    object-fit: cover;
}


.photo-card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.photo-card:hover {
    border: solid 0.2px, white;
    border-radius: 5px;
}


.photo-card img {
    position: relative;
    width: 100%;
    height: 12em;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.stats{
    position: absolute;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(212, 248, 240, 0.713);
    font-size: 0.50rem;
    font-weight: 500;
    text-align: left;
    padding: 0.5em;
}

.picture-info {
    display: flex;
    flex-direction: row;
}

.downloads {
    bottom: 90%;
}

.name {
    top: 90%;
    color: rgba(219, 174, 197, 0.31);
}

div.heart {
    position: absolute;
    height: 80em;
    width: auto;
}